@tailwind base;
@tailwind components;
@tailwind utilities;


.font-sarabun {
   font-family: 'Sarabun', sans-serif;
}

.font-k2d {
   font-family: 'K2D', sans-serif;
}

ul.ui-menu {
   font-family: 'Sarabun', sans-serif;
   padding: 10px;
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px; */
   margin-top: 5px;
   border-radius: 5px;
   width: auto;
   min-height: auto;
   max-height: 50vh;
   min-width: auto;
   max-width: auto;
   overflow-y: auto;
}

.table-row__p-status {
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    color: #9eabb4;
}

.table-row__status {
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    color: #9eabb4;
}

.table-row__edit {
    width: 46px;
    padding: 8px 17px;
    display: inline-block;
    background-color: #daf3f8;
    border-radius: 18px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.status:before {
    content: '';
    margin-bottom: 0;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 7px;
    border-radius: 50%;
}

.status--red:before {
    background-color: #e36767;
}

.status--red {
    color: #e36767;
}

.status--blue:before {
    background-color: #3fd2ea;
}

.status--blue {
    color: #3fd2ea;
}

.status--yellow:before {
    background-color: #ecce4e;
}

.status--yellow {
    color: #ecce4e;
}

.status--green {
    color: #6cdb56;
}

.status--green:before {
    background-color: #6cdb56;
}

.status--grey {
    color: #9eabb4;
}

.status--grey:before {
    background-color: #9eabb4;
}

.text_logout {
    color: #000;
}

.text_logout:hover {
    color: red;
}

div.btnAddmember{
    display: flex;
    justify-content: end;
}

button.addMember {
    background-color: rgb(31, 31, 103);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

button.addMember:hover {
    background-color: rgb(54, 54, 153);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

svg.add_member {
    fill: #fff;
    margin-right: 15px;
}

.badge {
    border-radius: 10px;
    font-size: 12px;
    line-height: 1;
    padding: .5rem 1rem;
    font-weight: normal;
}

.badge-opacity-danger {
    background: #ffcbc7;
    color: #f72222;
}

.badge-opacity-warning {
    background: #fff2d6;
    color: #cc8c00;
}
