@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sarabun {
   font-family: 'Sarabun', sans-serif;
}

.font-k2d {
   font-family: 'K2D', sans-serif;
}

/* @font-face {
   font-family: "THSarabunNew";
   src: url(fonts/THSarabunNew.ttf) format('truetype');
} */
#ui-id-1 {
   font-family: "THSarabunNew";
   position: absolute;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
   margin-top: 5px;
   border-radius: 5px;
   width: 50%;
   min-height: auto;
   max-height: 50vh;
   min-width: 200px;
   max-width: auto;
   overflow-y: auto;
}

#ui-id-2 {
   font-family: "THSarabunNew";
   position: absolute;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
   margin-top: 5px;
   border-radius: 5px;
   width: 50%;
   min-height: auto;
   max-height: 50vh;
   min-width: 200px;
   max-width: auto;
   overflow-y: auto;
}

.option {
   font-family: "THSarabunNew";
   position: absolute;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
   margin-top: 5px;
   border-radius: 5px;
   width: 50%;
   min-height: 10vh;
   max-height: 200px !important;
   min-width: 200px;
   max-width: auto;
   overflow-y: auto;
}